.Weather {
  border: 1px solid #2a2a2a;
    font-family: arial, sans-serif;
    color: #878787;
    padding: 16px;
    border-radius: 5px;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);

}

.Weather .button{
    border:1px solid grey;
    background: rgb(56, 139, 211);
color: white;
}
.Weather .button:hover{
      background: rgb(43, 107, 163);
    transition: all 150ms ease-in-out;
}
.Weather h1{
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
}
.Weather ul{
    margin: 0;
    padding: 0;
}
.Weather li {
font-size:16px;
font-weight:100;
line-height: 19px;
list-style: none;
}

.Weather .temperature{
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    margin-left: 15px;
}
.Weather .unit{
font-size: 16px;
font-weight: 400;
position: relative;
line-height: 1px;
top: -34px;

}
.Weather .unit, .Weather .temperature{
   color: rgb(33,33,33); 
}